# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Project specific
client/java_client/target/
logs/
indexes/
data/
results.log
hsqlparser
adaptive_optimizer_data
htmlcov
venv/