sqlparse
graphviz
networkx
matplotlib
psutil
cython
sqlglot
pytest
pytest-cov
pytest-xdist
pytest-mock
pytest-asyncio
faker
pymongo
flask
flask-cors
requests
prometheus-client
pyyaml
aiohttp
PyJWT
kubernetes